<html>
    <head>
        <title>My Calculator!</title>
    </head>
    <script>
        function eval(input) {
            if (typeof input != "undefined"){
                document.getElementById("output").innerHTML = input;
            }
        }
    </script>
    <body style="text-align:center" onload=eval({{output}})>
        <div>
            <h1><strong>PEMDAS</strong> calculator</h1>
            <p>Please don't make Python mad :(</p>
            <form method="POST" action="/eval">
                <label for="string">Enter in string to evaluate:</label><br>
                <input type="text" name="string" style="margin-top:10px" size="60px"></input><br>
                <input type="submit" style ="margin-top:10px"></input>
            </form>
        </div>
        <div>
            <p id="output"></p>
        </div>
    </body>
</html>
